.loginScreen {
  margin-top: 10px;
}

.errorMsg {
  background-color: lightcoral;
  padding: 5px 10px 5px 10px;
  font-weight: lighter;
  font-size: 1.3em;
  display: none;
}

.displayed {
  display: block;
}

